__pycache__/
.local
.cache
.bash_history
.vscode-server
.gitconfig
.ssh
.gnupg
.cache
.viminfo
.python_history
.nv
.bashrc
.config
.conda
.vscode
.idea
build
runs
tensorrt-cpp-api/
face-recognition-cpp-tensorrt/
face-recognition/
cmake-test/
cmake-build-debug/
# files

## videos
*.mp4

## models
*.engine
*.onnx
*.pt